/* 색상 초기화 및 설정 */
:root {
    --text-color: #black;
    --background-color: white;
    --accent-color: lightblue;
    --icons-color: rgb(152, 187, 201);
    --bodybackground-color: lightgray;
}


/* 디스플레이 영역 전체 디자인 */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* 디스플레이 영역 전체 디자인 */
body { 
    margin: 0;
    background-color: var(--bodybackground-color);
}

/* 네비게이션 바 관련 디자인 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

.navbar_logo i {
    color: var(--accent-color);
    padding-left: 0;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 30px;
}

.navbar_menu .currentPage {
    background-color: lightsteelblue;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 3px;
}


/* 메인화면 관련 디자인 */
.header {
    background-image: url("../images/mainscreen.jpg");
    background-size: cover;
    background-position: center center;
    height: 1000px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title {
    text-align: center;
}

.header .title h1 {
    font-size: 60px;
    color: black;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    font-weight: bold;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
}

.header .title button {
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.header .title button:hover {
    transition: 0.5s ease;
    border: 2px solid white;
    background: black;
    color: white;
}

/* 이벤트성 화면 (카운트 다운 등등) 관련 디자인 */
.eventCount {
    display: flex;
    flex-direction: column;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    background-image: url(../images/DanuriTakeoffview.jpg);
    background-size: cover;
    background-position: center center;
    align-items: center;
    min-height: 450px;
}

.acontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timer {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.count {
    text-align: center;
    margin-bottom: 75px;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
.count span{
    font-size: 30px
}

.eventCount button {
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.eventCount button:hover {
    transition: 0.5s ease;
    border: 2px solid white;
    background: black;
    color: white;
}

/* 사이트 설명 및 서브 서브 네비게이션 관련 디자인 */
.aboutNavTitle {
    font-size: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.aboutNavExp {
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

.aboutNav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.aboutNav .navcard {
    flex: 1;
    text-align: center;
    margin: 150px 40px;
}

.aboutNav .navcard .spaceRocket h1 {
    letter-spacing: 20px;
}

.aboutNav .navcard .satellite h1 {
    letter-spacing: 40px;
}

.aboutNav .navcard .spaceRocket p {
    font-size: 25px;
}

.aboutNav .navcard .satellite p {
    font-size: 25px;
}

.aboutNav .navcard .spaceRocket:hover {
    transition: 0.5 ease;
    font-size: 30px;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}
.aboutNav .navcard .satellite:hover {
    transition: 0.5 ease;
    font-size: 30px;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.aboutNav .navcard .spaceRocket button {
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.aboutNav .navcard .spaceRocket button:hover {
    transition: 0.5s ease;
    border: 2px solid white;
    background: black;
    color: white;
}

.aboutNav .navcard .satellite button {
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.aboutNav .navcard .satellite button:hover {
    transition: 0.5s ease;
    border: 2px solid white;
    background: black;
    color: white;
}

/* 푸터 관련 디자인 */
footer {
    text-align: center;
    font-size: 25px;
    background-color: gray;
    margin-bottom: none;
}

footer strong {
    font-size: 30px;
}

footer p {
    margin-bottom: 25px;
}