/*all */

/*header */
    header {
        font-size: 0;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }
/* all content */

/* content 1 */

/* content 2 */

/* content 3 */

/* content 4 */

/* content 5 */

/* footer */