/* 색상 초기화 및 설정 */
:root {
    --text-color: #black;
    --background-color: white;
    --accent-color: lightblue;
    --icons-color: rgb(152, 187, 201);
    --bodybackground-color: lightgray;
}


/* 디스플레이 영역 전체 디자인 */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* 디스플레이 영역 전체 디자인 */
body { 
    margin: 0;
    background-color: var(--bodybackground-color);
}

/* 네비게이션 바 관련 디자인 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo i {
    color: var(--accent-color);
    padding-left: 0;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 30px;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 3px;
}


/* 메인화면 관련 디자인 */
.header {
    background: url(images/NuriMainTakeoff.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title {
    text-align: center;
}

.header .title img {
    width: 100px;
}

.header .title h1 {
    font-size: 40px;
    color: #333;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
}

.header .title button {
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s ease;
}

.header .title button:hover {
    transition: 0.5s ease;
    border: 2px solid black;
    background: lightblue;
    color: black;
}