/* 색상 초기화 및 설정 */
:root {
    --text-color: lightgray;
    --background-color: black;
    --accent-color: white;
    --icons-color: rgb(152, 187, 201);
    --bodybackground-color: lightgray;
}


/* 디스플레이 영역 전체 디자인 */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* 디스플레이 영역 전체 디자인 */
body { 
    margin: 0;
    background-color: var(--background-color);
}

/* 네비게이션 바 관련 디자인 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

.navbar_logo i {
    color: var(--accent-color);
    padding-left: 0;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 30px;
}

.navbar_menu .currentPage {
    background-color: lightsteelblue;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 3px;
}

/* 메인 화면 관련 디자인 */
.header {
    background-image: url("../images/Danurimoonmain2.jpg");
    background-size: cover;
    background-position: center center;
    height: 1000px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title {
    text-align: center;
}

.header .title h1 {
    font-size: 60px;
    color: lightgray;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    font-weight: bold;
}

.header .title p {
    margin-top: 0;
    margin-bottom: 30px;
    color: lightgray;
}

/* 다누리 키운트 */
.eventCount {
    display: flex;
    flex-direction: column;
    color: lightgray;
    background-image: url(../images/DanuriTakeoffmain.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    align-items: center;
    min-height: 450px;
}

.acontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timer {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.count {
    text-align: center;
    margin-bottom: 75px;
    color: lightgray;
}
.count span{
    font-size: 30px
}

/* 다누리 발사 정보 관련 디자인 */
.danuriTakeoff h1 {
    text-align: center;
    color: lightgray;
}
.danuriTakeoff p {
    text-align: center;
    color: lightgray;
}

.danuriTakeoff .navcardDanuri {
    margin-top: 140px;
}

.danuriTakeoff .navcardDanuri .img img {
    margin-left: 200px;
    margin-bottom: 200px;
}